@import '@alfalab/core-components/vars/index.css';
@import '@alfalab/core-components/vars/mixins.css';

:root {
    --content-width: 1000px;
    --side-gap: 20px;
    --header-title-margin: var(--gap-3xl) 0 0;
    --search-wrapper-margin: var(--gap-m) 0 var(--gap-2xs);
    --bundle-select-width: '100%';
    --bundle-select-margin: 0 0 var(--gap-m) 0;
    --icons-list-margin: var(--gap-xl) auto var(--gap-7xl);
    --icon-wrapper-padding: var(--gap-s);
    --option-content-padding: var(--gap-m) 0 var(--gap-m) var(--gap-m);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family-system);
}

#root {
    height: 100%;
}

.root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.header-wrapper {
    max-width: var(--content-width);
    margin: 0 max(50% - var(--content-width) / 2, var(--side-gap));
}

.search-wrapper {
    margin: var(--search-wrapper-margin);
}

.bundle-select-wrapper {
    width: var(--bundle-select-width);
    margin: var(--bundle-select-margin);
}

.header-title {
    margin: var(--header-title-margin);
}

.search-input {
    flex: 1;
    color: var(--color-light-graphic-secondary);
}

.icons-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: var(--content-width);
    margin: var(--icons-list-margin);
}

.icon-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    padding: var(--icon-wrapper-padding);
    border-radius: 12px;
    background-color: var(--color-light-bg-secondary);
    text-align: center;
    flex: 1 1 0;
    width: 0;
    color: var(--color-light-graphic-primary);
}

.icon-wrap:hover {
    cursor: pointer;
}

.icon-wrap:last-child {
    margin-right: 0;
}

.icon-wrap:first-child {
    margin-left: 0;
}

.icon-wrap_dark {
    background-color: var(--color-light-bg-secondary-inverted);
    color: #fff;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-grow: 1;
    max-width: calc(100% - var(--icon-wrapper-padding) * 2);
}

.icon-primitive-name {
    margin-top: auto;
}

.list-scroller {
    margin: 0;
    width: 100%;
    padding: 0 var(--side-gap);

    @mixin custom-scrollbar;
}

.list-scroller::-webkit-scrollbar {
    width: 12px;
}

.list-scroller::-webkit-scrollbar-track {
    background-color: transparent;
}

.list-scroller::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.list-scroller::-webkit-scrollbar-thumb {
    background-color: var(--color-light-graphic-primary-alpha-30);
    border-radius: var(--border-radius-circle) / 6px;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    background-clip: padding-box;
    min-height: 40px;
}

.list-scroller::-webkit-scrollbar-thumb:hover {
    border-radius: var(--border-radius-circle) / 7px;
    border-width: 4px 3px;
}

.list-scroller::-webkit-scrollbar-thumb:active {
    background-color: var(--color-light-graphic-primary-alpha-60);
}

.list-scroller::-webkit-scrollbar-button,
.list-scroller::-webkit-scrollbar-corner {
    display: none;
}

.list-row {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    gap: var(--gap-s);
}

.desktop-copy-dropdown-inner {
    padding-top: var(--select-options-list-offset);
    padding-bottom: var(--select-options-list-offset);
    box-shadow: none;
    border: none;
    background: transparent;
    border-radius: 0;
    position: relative;
}

.popover-options-list {
    position: relative;
    padding-top: var(--select-options-list-top-padding);
    padding-bottom: var(--select-options-list-bottom-padding);
    box-shadow: var(--select-options-list-box-shadow);
    border-radius: var(--select-options-list-border-radius);
    background: var(--select-option-background);
    overflow: hidden;
}

.mobile-copy-dropdown {
    padding-right: 0;
    padding-left: 0;
}

.option-content {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-s);
    padding: var(--option-content-padding);
    color: var(--color-light-graphic-tertiary);
}

.fallback-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media (min-width: 600px) {
    :root {
        --header-title-margin: var(--gap-5xl) 0 0;
        --search-wrapper-margin: var(--gap-m) 0 var(--gap-xs);
        --bundle-select-width: 240px;
        --icons-list-margin: var(--gap-2xl) auto var(--gap-8xl);
        --bundle-select-margin: 0;
        --option-content-padding: var(--gap-s) 0 var(--gap-s) var(--gap-s);
    }

    .search-wrapper {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--gap-xs);
    }
}
