name: BUILD

on: repository_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - run: yarn install
    - run: yarn add @alfalab/icons@latest
    - run: yarn build
    - run: npm version minor --git-tag-version false

    - name: commit changes
      uses: github-actions-x/commit@v6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'master'
        commit-message: 'chore(*): update version'
        force-add: 'false'
        files: .
        name: core-ds-bot
        email: ds@gitmax.tech
